In [2]:
#Load Data
import pandas as pd

df = pd.read_csv("Daily_Global_Stock_Market_Indicators.csv")

df.head(10)

,Date,Index_Name,Country,Open,High,Low,Close,Volume,Daily_Change_Percent
0,2020-01-01,S&P 500,USA,15607.06,16277.38,15427.47,16057.78,36788921,2.89
1,2020-01-01,NASDAQ Composite,USA,7083.79,7343.64,6461.54,6641.87,22249687,-6.24
2,2020-01-01,Dow Jones,USA,26384.65,26601.25,25659.50,25941.06,4344769,-1.68
3,2020-01-01,FTSE 100,UK,8091.17,8182.45,7617.15,7774.58,44250411,-3.91
4,2020-01-01,Nikkei 225,Japan,1899.43,2044.17,1885.43,1924.21,22498555,1.30
5,2020-01-01,Hang Seng,Hong Kong,15288.11,15523.66,15184.28,15244.18,3428388,-0.29
6,2020-01-01,DAX,Germany,24694.25,24713.76,24080.11,24364.77,4385357,-1.33
7,2020-01-01,CAC 40,France,32527.50,32556.80,32126.84,32332.11,12392366,-0.60
8,2020-01-01,SSE Composite,China,27647.28,28007.23,27595.27,27757.27,2870928,0.40
9,2020-01-01,KSE 100,Pakistan,11092.42,11348.45,10936.40,11254.94,23335235,1.47

# Understand the Dataset Structure

In [2]:
df.shape

(18270, 9)

In [3]:
df.columns

Index(['Date', 'Index_Name', 'Country', 'Open', 'High', 'Low', 'Close',
       'Volume', 'Daily_Change_Percent'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18270 entries, 0 to 18269
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  18270 non-null  object
 1   Index_Name            18270 non-null  object
 2   Country               18270 non-null  object
 3   Open                  18270 non-null  float64
 4   High                  18270 non-null  float64
 5   Low                   18270 non-null  float64
 6   Close                 18270 non-null  float64
 7   Volume                18270 non-null  int64
 8   Daily_Change_Percent  18270 non-null  float64
dtypes: float64(5), int64(1), object(3)
memory usage: 1.3+ MB

In [5]:
df.describe()

,Open,High,Low,Close,Volume,Daily_Change_Percent
count,18270.000000,18270.000000,18270.000000,18270.000000,1.827000e+04,18270.000000
mean,20442.806842,20718.693753,20166.620486,20442.378464,2.560834e+07,0.006006
std,11257.356569,11260.177506,11258.553850,11261.448439,1.414837e+07,4.534069
min,1000.650000,1018.520000,349.960000,622.950000,1.005194e+06,-44.320000
25%,10743.355000,11011.495000,10471.052500,10736.957500,1.336530e+07,-1.250000
50%,20398.855000,20685.665000,20116.395000,20394.740000,2.573716e+07,-0.010000
75%,30208.945000,30470.575000,29938.702500,30186.750000,3.778344e+07,1.230000
max,39990.310000,40680.180000,39985.490000,40474.780000,4.999802e+07,45.690000

In [8]:
df['Index_Name'].unique()

array(['S&P 500', 'NASDAQ Composite', 'Dow Jones', 'FTSE 100',
       'Nikkei 225', 'Hang Seng', 'DAX', 'CAC 40', 'SSE Composite',
       'KSE 100'], dtype=object)

In [12]:
df['Date'].min(), df['Date'].max()

('2020-01-01', '2024-12-31')

In [19]:
df['Country'].unique()

array(['USA', 'UK', 'Japan', 'Hong Kong', 'Germany', 'France', 'China',
       'Pakistan'], dtype=object)

# **Data Cleaning**

In [3]:
df['Date'] = pd.to_datetime(df['Date'])

In [4]:
df = df.drop_duplicates()

In [16]:
df.shape

(18270, 9)

In [17]:
df.isnull().sum()

Date                    0
Index_Name              0
Country                 0
Open                    0
High                    0
Low                     0
Close                   0
Volume                  0
Daily_Change_Percent    0
dtype: int64

# **Introducing New columns**

In [5]:
df_clean = df.copy()

In [6]:
# Extract date components
df_clean['Year'] = df_clean['Date'].dt.year
df_clean['Month'] = df_clean['Date'].dt.month
df_clean['Quarter'] = df_clean['Date'].dt.quarter
df_clean['Day_of_Week'] = df_clean['Date'].dt.day_name()
df_clean['Month_Name'] = df_clean['Date'].dt.month_name()

In [7]:
# Create Region column
region_map = {
    'S&P 500': 'Americas',
    'NASDAQ Composite': 'Americas',
    'Dow Jones': 'Americas',
    'FTSE 100': 'Europe',
    'DAX': 'Europe',
    'CAC 40': 'Europe',
    'Nikkei 225': 'Asia',
    'Hang Seng': 'Asia',
    'SSE Composite': 'Asia',
    'KSE 100': 'Emerging Markets'
}

df_clean['Region'] = df_clean['Index_Name'].map(region_map)

In [8]:
# Create Market Type column
market_type_map = {
    'S&P 500': 'Developed',
    'NASDAQ Composite': 'Developed',
    'Dow Jones': 'Developed',
    'FTSE 100': 'Developed',
    'DAX': 'Developed',
    'CAC 40': 'Developed',
    'Nikkei 225': 'Developed',
    'Hang Seng': 'Developed',
    'SSE Composite': 'Emerging',
    'KSE 100': 'Emerging'
}

df_clean['Market_Type'] = df_clean['Index_Name'].map(market_type_map)

In [9]:
df_clean.head(5)

,Date,Index_Name,Country,Open,High,Low,Close,Volume,Daily_Change_Percent,Year,Month,Quarter,Day_of_Week,Month_Name,Region,Market_Type
0,2020-01-01,S&P 500,USA,15607.06,16277.38,15427.47,16057.78,36788921,2.89,2020,1,1,Wednesday,January,Americas,Developed
1,2020-01-01,NASDAQ Composite,USA,7083.79,7343.64,6461.54,6641.87,22249687,-6.24,2020,1,1,Wednesday,January,Americas,Developed
2,2020-01-01,Dow Jones,USA,26384.65,26601.25,25659.50,25941.06,4344769,-1.68,2020,1,1,Wednesday,January,Americas,Developed
3,2020-01-01,FTSE 100,UK,8091.17,8182.45,7617.15,7774.58,44250411,-3.91,2020,1,1,Wednesday,January,Europe,Developed
4,2020-01-01,Nikkei 225,Japan,1899.43,2044.17,1885.43,1924.21,22498555,1.30,2020,1,1,Wednesday,January,Asia,Developed

In [10]:
df_clean.to_csv('/content/df_clean.csv', index=False)

# **Connect to PostgreSQL**

In [1]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (4.9 kB)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.46)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)
Downloading psycopg2_binary-2.9.11-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (4.2 MB)
    4.2/4.2 MB 52.8 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11

In [11]:
from sqlalchemy import create_engine

# Step 1: Connect to PostgreSQL
# Replace placeholders with your actual details
username = "postgres"      # default user
password = "hihellojj123" # the password you set during installation
host = "localhost"         # if running locally
port = "5432"              # default PostgreSQL port
database = "global_stock_DA_Project"    # the database you created in pgAdmin

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

# Step 2: Load DataFrame into PostgreSQL
table_name = "global_stock_data"   # choose any table name
df.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: https://sqlalche.me/e/20/e3q8)